body {
    margin: 0;
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    color: #E5E7EB;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 12px;
}

.calculator {
    width: 500px;
    height: 240px;
    object-fit: cover;
}

.welcome {
    width: 350px;
}

.upper {
    background-color: #1F2937;
    margin: 0;
    padding: 20px 200px 140px;
}

.awesome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

button {
    border: 0;
    padding: 8px 40px;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500px;
    color: #F9FAF8;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 200px 120px;
}

.info-title {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.box-group {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.unit {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    width: 150px;
    height: 150px;
    border: solid #3882F6 4px;
    border-radius: 16px;
    flex-shrink: 0;
}

.grey-container {
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
}

.author {
   align-self: flex-end;
   font-size: 24px;
   color:#1F2937;
   font-weight: 600;
}

p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}

.call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 150px;
}

.blue-container {
    background-color:#3882F6;
    color:#F9FAF8;
    padding: 60px 120px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.call-wrap {
    display:flex;
    flex-direction: column;
}

.call-title {
    color:#F9FAF8;
    font-size: 26px;
    font-weight: 600;
}

.call-text {
    color:#E5E7EB;
    font-weight: 400;
}

.call-button {
    border: solid white 2px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color:#E5E7EB;
    font-size: 18px;
    margin: 44px 0;
}